<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Lista de Permissões</h5>

            <p-table #dt [columns]="cols" [value]="dataList" dataKey="id" [rows]="10"
                [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
                [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<p-button label="Novo" [outlined]="true" icon="pi pi-plus-circle" [routerLink]="['/adm/permission/form']" />
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="applyFilterGlobal($event, 'contains')" placeholder="Pesquisar" class="w-full"/>
						</span>
					</div>
				</ng-template>

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{ col.header }}
                        </th>
                        <th>
                            Ações
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            <ng-container *ngIf="col.field === 'isActive'; else defaultCell">
                                <p-tag [value]="rowData[col.field] ? 'Sim' : 'Não'" [severity]="getSeverity(rowData[col.field])" />
                            </ng-container>
                            <ng-template #defaultCell>
                                <ng-container *ngIf="col.field !== 'isActive'">
                                    {{ rowData[col.field] }}
                                </ng-container>
                            </ng-template>
                        </td>

                        <td>
                            <ng-container>
                                <div class="tableButton">
                                    <p-button icon="pi pi-pen-to-square" [rounded]="true" pTooltip="Editar" tooltipPosition="bottom" (click)="edit(rowData.id)" />
                                    <p-button *ngIf="rowData.isActive" severity="danger" icon="pi pi-times-circle" [rounded]="true" pTooltip="Inativar" tooltipPosition="bottom" (click)="disable(rowData.id)" />
                                    <p-button *ngIf="!rowData.isActive" severity="success" icon="pi pi-check-circle" [rounded]="true" pTooltip="Reativar" tooltipPosition="bottom" (click)="enable(rowData.id)" />
                                </div>
                            </ng-container>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <p-confirmDialog />
</div>