<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Lista de Usuários</h5>
            <p-table #dt [columns]="cols" [value]="userList" dataKey="id" [rows]="10"
                [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
                [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<p-button label="Novo" [outlined]="true" icon="pi pi-plus-circle" [routerLink]="['/users/form']" />
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="applyFilterGlobal($event, 'contains')" placeholder="Search Keyword" class="w-full"/>
						</span>
					</div>
				</ng-template>

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{ col.header }}
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            <ng-container *ngIf="col.field === 'isActive' || col.field === 'isLocked'; else dateCell">
                                <p-tag [value]="rowData[col.field] ? 'Sim' : 'Não'" [severity]="getSeverity(rowData[col.field])" />
                            </ng-container>
                            <ng-template #dateCell>
                                <ng-container *ngIf="col.field === 'lastLogin'">
                                    {{ rowData[col.field] | date: 'dd/MM/yyyy HH:mm' }}
                                </ng-container>
                                <ng-container *ngIf="col.field !== 'lastLogin' && col.field !== 'isActive' && col.field !== 'isLocked'">
                                    {{ rowData[col.field] }}
                                </ng-container>
                            </ng-template>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
