<div class="grid">
    <div class="col-12">
        <div class="card p-fluid">
            <h5>Cadastro de Permissões</h5>

            <div class="p-fluid p-formgrid grid" [formGroup]="form">
                <div class="field col-12 md:col-4">
                    <label htmlFor="name" class="required">Nome</label>
                    <input formControlName="name" pInputText id="name" type="text" />
                    <p-message *ngIf="form.get('name')?.invalid && form.get('name')?.touched" severity="error"
                        text="Campo obrigatório"></p-message>
                </div>

                <div class="field col-12 md:col-4">
                    <label htmlFor="codeName" class="required">Código</label>
                    <input formControlName="codeName" pInputText id="codeName" type="text" />
                    <p-message *ngIf="form.get('codeName')?.invalid && form.get('codeName')?.touched" severity="error"
                        text="Campo obrigatório"></p-message>
                </div>

                <div class="field col-12 md:col-4">
                    <label htmlFor="roleId" class="required">Papel</label>
                    <p-dropdown formControlName="roleId" [options]="roleList" optionValue="id" optionLabel="name"
                        [filter]="true" filterBy="name" [virtualScroll]="true"
                        [virtualScrollItemSize]="38" id="roleId" placeholder="Selecione o Papel">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption.name }}</div>
                            </div>
                        </ng-template>

                        <ng-template let-role pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ role.name }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <p-message *ngIf="form.get('roleId')?.invalid && form.get('roleId')?.touched" severity="error"
                        text="Campo obrigatório"></p-message>
                </div>

                <div class="field col-12 md:col-2">
                    <p-button (click)="save()" label="Salvar" icon="pi pi-save"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>